#main-menu {
  position: fixed;
  top: 101px;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #9b918d;
  transition: left 0.3s ease-in-out;
}

#main-menu .nav {
  flex: 1;
  padding: 16px;
  color: #ffffff;
}

.menu {
}

.menu li {
}

.menu li a {
  display: block;
  padding: 16px;
  transition: color 0.3s ease-in-out;
}

.menu li a:hover {
  color: #87171c;
}
