#main-menu {
  margin-bottom: 16px;
}

#main-menu .nav {
}

#main-menu .menu {
}

#main-menu .menu li {
}

#main-menu .menu li a {
  display: block;
  padding: 16px;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

#main-menu .menu li a:hover {
  color: #87171c;
  background: rgba(255, 255, 255, 0.6);
}
