#main-menu {
  position: fixed;
  top: 81px;
  left: 0;
  z-index: 9999;
  width: 100vw;
  max-height: calc(100vh - 81px);
  overflow: auto;
  display: flex;
  background: #9b918d;
  transition: left 0.3s ease-in-out;
}

#main-menu .nav {
  flex: 1;
  padding: 0 16px;
  color: #ffffff;
}
