/*fort color #87171c*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #f5f5f5;
}

#root {
  max-width: 1200px;
  margin: auto;
}

#logo {
  padding: 10px;
}

ul,
ol,
menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
